/*FINLAND*/
.finland {
  background-color: #fff;
  height: 100%;
  width: 100%;
}
.finland-c1 {
  height: 40%;
  margin-left: 27.78%;
  background-color: #002f6c;
}
.finland-c2 {
  height: 20%;
  background-color: #002f6c;
}
