/*JAPAN*/
.japan {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.circle {
    border-radius:100%;
    width: 35%;
    height: 50%;
    background-color:#dc143c;
    justify-content: center;
}
