.flash {
  font-size: calc(5px + 2vmin);
  width: 100%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top: 0;
  opacity: 0;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s linear;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s linear;
}
