.meuInput {
  padding: 0;
  margin-left: 10px;
  text-align: center;
  font-size: calc(6px + 2vmin);
  width: 100px;
}

.campo-obrigatorio {
  border: 1.5px solid #ff220c;
}

.mensagem-erro {
  color: #ff220c;
}
