/*EUA*/
.pad {
    padding-left: 0;
    padding-right: 0;
  }
  .row-white {
    height: 20%;
  }
  .row-white2 {
    height: 20%;
  }
  .row-red {
    height: 20%;
    background-color: #B22234;
  }
  .row-red2 {
    height: 20%;
    background-color: #B22234;
  }
  .eua-top {
    padding-right: 0;
    padding-left: 0;
    height: 53.85%;
    background-color: #fff;
  }
  .eua-bottom {
    padding-right: 0;
    padding-left: 0;
    height: 46.15%;
    background-color: #fff;
  }
  .eua {
    height: 100%;
    background-color: #fff;
  }
  .eua-corner {
    height: 100%;
    background-color: #3C3B6E;
  }
