/*FLAGS*/
    .container {
      padding-right: 0;
      padding-left: 0;
      height: 100%;
      width: 1366px;
      /* border-width: 1px;
      border-style: solid;
      border-color: #000; */
      background-color: #fff;
    }
    .d-flex {
      height: 100%;
      width: 100%;
      flex-wrap: wrap;
    }
