/*LEBANON*/
.pad {
  padding-right: 0;
  padding-left: 0;
}

.lebanon-c1 {
  height: 25%;
  background-color: #ed1c24;
}

.lebanon-c2 {
  display: flex;
  justify-content: center;
  height: 50%;
  background-color: #fff;
}
img {
  height: 100%;
}
