/*SEÇÃO*/
body {
      margin: 0;
      padding: 0;
      font-family: Raleway;
      font-style: normal; font-variant: normal; font-weight: 400;
      font-size: 16px;
      /* color: #333; */
      color: #fff;
    }
    .secao {
      position: relative;
    }
    #secao-01 {
      background-color: #17B890;
    }
    #secao-02 {
      background-color: #17B890;
    }
    #secao-03 {
      background-color: #17B890;
    }
    #secao-04 {
      background-color: #17B890;
    }
    .icone-scroll {
      position: absolute;
      bottom: 3em;
      width: 50px;
      height: 50px;
      background-color: #fff;
      /* background-color: #1a1a1a; */
      border-radius: 50%;
      left: 50%;
      margin-left: -25px;
      cursor: pointer;
    }
    .scroll {
      width: 15px;
      height: 15px;
      border-right: 2px solid #000;
      border-bottom: 2px solid #000;
      display: inline-block;
      position: relative;
    }
    .scroll-next {
      transform: rotate(45deg);
      margin: 14px 0 0 16.5px;
    }
    .scroll-top {
      transform: rotate(225deg);
      margin: 19px 0 0 17px;
    }
    .scroll-top + .scroll-top {
      top: -15px;
      margin-top: 0;
    }
