/*FOOTER*/
.footer-bottom {
  padding: 15px;
  background: #0678a9;
  text-align: center;
}

.footer-nav {
  margin-top: 10px;
  margin-bottom: 30px;
}

.footer-nav li {
  display: inline-block;
}

.footer-nav a {
  display: inline-block;
  padding: 5px 15px;
  color: #fff;
}

.footer-bottom p {
  margin: 0;
  color: #fff;
}
