/*HISTORIA*/
.history-item article {
  padding: 15px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  margin-top: 10px;
}

.history-item img {
  width: 150px;
  padding: 15px;
}

.img-left {
  float: left;
}

.img-right {
  float: right;
}
