/*SERVIÇOS*/
.no-banner {
  padding-top: 90px;
}

.service-title {
  font-size: 22px;
}

.container-service {
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.service-img {
  float: left;
  width: 180px;
  margin: 0 15px 15px 0;
}
